
<div class="container">
  
<form class="example" >
  <input type="text" [(ngModel)]="userName" placeholder="Type github username.." name="search">
  <button (click) ="search()" style="background-color: grey">Search</button> 
</form>

<div *ngIf="response">
    <div style="margin-top: 10%;" class="panel panel-default">
  
      <div class="panel-heading">
          <h1>{{response.login}}</h1>
        <span *ngIf="">Works at {{response.company}}</span> {{response.location}}
  
<div class="row">
    <div class="col-md-4" >
        <img src="{{response.avatar_url}}" width="400" height="400">
    </div>
    <div class="col-md-10">
      <div class="start">
          <span class="label label-default">{{response.public_repos}} Public Repos</span>
          <span class="label label-primary">{{response.public_gist}} Public Gist</span>
          <span class="label label-success">{{response.followers}} Followers</span>
          <span class="label label-info">{{response.following}} Following</span>
          <br>

        <ul class="list-group">
            <li class="list-group-item"><strong>Username:</strong> {{response.login}}</li>
            <li class="list-group-item"><strong>Location:</strong> {{response.location}}</li>
            <li class="list-group-item"><strong>Email:</strong> {{response.email}}</li>
            <li class="list-group-item"><strong>Member Since:</strong> {{response.created_at}}</li>
        </ul>
      </div>
    </div>
    <footer style="text-align: end">
      <p>copyright@2019</p>
    </footer>
