User name :<input type="text" [(ngModel)]="userName">
<button (click) ="search()">Search</button>

<div *ngIf="response">
<p>Login name :{{response.login}}</p>
<p>number repos :{{response.public_repos}}</p>
<p>number of gists :{{response.public_gists}}</p>
<p>number of followers :{{response.followers}}</p>
</div> 
<div id="pattern" class="pattern">
    <form action="#" method="post" class="f">
        <label class="is-vishidden">Search the site</label>     
      <input type="text" [(ngModel)]="userName" placeholder="Search the site" />
        <input (click) ="search()" type="submit" class="btn search-submit" value="Search">
  </form>
  </div>